* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, *::before, *::after {
  display: inline-block;
}

section {
  margin-block: 28px;
}

.accordion__container {
  background-color: #f8f4b6;
  padding: 16px 20px;
}
@media (max-width: 600px) {
  .accordion__container {
    padding: 16px 20px;
  }
}
.accordion__item:not(:last-child) {
  margin-bottom: 16px;
}
.accordion__input {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.accordion__header {
  background-color: #d1b16f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.accordion__header:hover {
  scale: 1.01;
  background-color: rgba(209, 176, 111, 0.7058823529);
}
.accordion__header:active {
  scale: 0.99;
}
.accordion__header span {
  font-size: 22px;
  font-weight: 600;
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  padding-top: 8px;
  background-color: #f1e79a;
  transition: all 0.7s ease-in-out;
}
.accordion__content.active {
  max-height: 1000px;
  padding: 6px 10px;
}

.icon-plus {
  transition: transform 0.5s ease-in-out;
}
.icon-plus.active {
  transform: rotate(315deg);
  color: rgba(247, 250, 206, 0.5215686275);
}

.tabs__container {
  background-color: #f8f4b6;
  padding: 0;
}

.item-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #f1e79a;
}
.item-tabs__title {
  font-size: 20px;
  font-weight: 600;
  padding-block: 16px;
  flex: 1 1 33.333%;
  text-align: center;
  cursor: pointer;
}
.item-tabs__title:hover {
  background-color: #e2d89a;
}
.item-tabs__title.active {
  background-color: #f8f4b6;
}

.tabs-content__body {
  padding: 20px 15px;
  display: none;
}
.tabs-content__body.active {
  display: block;
}
@media (min-width: 768px) {
  .tabs-content__body {
    padding: 12px 20px;
  }
}
.tabs-content__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__button {
  background-color: #d1b16f;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}
.modal__button:hover {
  scale: 1.02;
  background-color: rgba(209, 176, 111, 0.7058823529);
}
.modal__button:active {
  scale: 0.98;
}

.popup {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.popup.active {
  position: fixed;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__wrapper {
  background-color: white;
  width: 500px;
  max-width: 90%;
  padding: 30px 20px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: translate(-50%, -60%) scale(0.95);
  transition: transform 0.3s ease-in-out;
}
.popup.active .popup__wrapper {
  transform: translate(-50%, -50%) scale(1);
}
.popup__title {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .popup__title {
    font-size: 20px;
  }
}
.popup__text {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 6px;
  line-height: 1.2;
  text-align: center;
}
.popup__text::-webkit-scrollbar {
  width: 8px;
}
.popup__text::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
.popup__text::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}
@media (max-width: 400px) {
  .popup__text {
    max-height: 26vh;
    overflow-y: auto;
    line-height: 1.1;
  }
}
.popup__button {
  background-color: #f1e79a;
  padding: 12px 22px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  font-weight: 500;
}
.popup__button:hover {
  scale: 1.02;
  background-color: rgba(209, 176, 111, 0.7058823529);
}
.popup__button:active {
  scale: 0.98;
}
@media (max-width: 400px) {
  .popup__button {
    font-size: 16px;
    padding: 10px 36px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?d6sz2t");
  src: url("../fonts/icomoon.eot?d6sz2t#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?d6sz2t") format("truetype"), url("../fonts/icomoon.woff?d6sz2t") format("woff"), url("../fonts/icomoon.svg?d6sz2t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-cross:before {
  content: "\ea0f";
}

body {
  background-color: rgba(247, 250, 206, 0.5215686275);
  color: #593619;
  font-family: "Nata Sans", sans-serif;
}
body.no-scroll {
  overflow: hidden;
}

[class*=container] {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1200.98px) {
  [class*=container] {
    max-width: 790px;
  }
}
@media (max-width: 990.98px) {
  [class*=container] {
    max-width: 750.98px;
  }
}
@media (max-width: 767.98px) {
  [class*=container] {
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  [class*=container-full] {
    padding: 0 15px;
  }
}
.header {
  background-color: #f1e79a;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 28px;
}
@media (max-width: 600px) {
  .header__container {
    padding-block: 14px;
  }
}
.header__title {
  font-size: 32px;
  font-weight: 500;
}
.header__title a {
  color: #593619;
}
@media (max-width: 600px) {
  .header__title {
    width: 1ch;
    overflow: hidden;
    font-size: 48px;
    font-weight: 700;
  }
}

.navbar {
  position: relative;
}
.navbar__burger {
  position: absolute;
  top: -12px;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
}
@media (max-width: 600px) {
  .navbar__burger {
    display: flex;
  }
  .navbar__burger.active {
    position: fixed;
    top: 27px;
    right: 15px;
  }
}
.navbar__burger.active .navbar__bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}
.navbar__burger.active .navbar__bar:nth-child(2) {
  opacity: 0;
}
.navbar__burger.active .navbar__bar:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -10px);
}
.navbar__bar {
  height: 4px;
  width: 100%;
  background-color: #593619;
  border-radius: 2px;
}
.navbar__items {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 900px) {
  .navbar__items {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media (max-width: 600px) {
  .navbar__items {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 75%;
    background-color: #d1b16f;
    flex-direction: column;
    gap: 32px;
    padding-top: 110px;
    padding-left: 14px;
    box-shadow: -4px 0px 8px 0px rgba(92, 59, 23, 0.1568627451);
  }
  .navbar__items.active {
    transform: translateX(0);
  }
}
.navbar__link {
  color: #593619;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 600px) {
  .navbar__link {
    font-size: 28px;
  }
}
.navbar__link:hover {
  color: rgba(89, 54, 25, 0.6196078431);
}
.navbar__link:active {
  scale: 0.98;
  color: #73a613;
}

.main__container {
  margin-block: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.main__title {
  font-size: 20px;
  font-weight: 500;
}