.modal {
    position: relative;
    z-index: 2;

		&__container {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

		&__button {
            background-color: $color-navbar-bg;
            padding: 14px 20px;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            font-size: 18px;
            font-weight: 500;
            color: $color-main;
            &:hover{
                scale: 1.02;
                background-color: $color-navbar-bg-hover;
            }
            &:active{
                scale: 0.98;
            }
		}
}
.popup {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    &.active {
        position: fixed;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

		&__wrapper {
            background-color: white;
            width: 500px;
            max-width: 90%;
            padding: 30px 20px;  
            border-radius: 12px;
            position: absolute;
            top: 50%;
            left: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            transform: translate(-50%, -60%) scale(0.95);
            transition: transform 0.3s ease-in-out;
            .popup.active & {
                transform: translate(-50%, -50%) scale(1);
            }
		}

		&__title {
            font-size: 24px;
            font-weight: 600;
            @media (max-width: 400px) {
                font-size: 20px;
            }
            
		}
        
		&__text {
            max-height: 60vh;
            overflow-y: auto;
            padding-right: 6px; // трохи місця під скрол
            line-height: 1.2;
            text-align: center;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                background: #f0f0f0; 
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background: #c0c0c0; 
                border-radius: 4px;
            }
            @media (max-width: 400px) {
                max-height: 26vh; 
                overflow-y: scroll;
                line-height: 1.1;
            }
		}

        &__button {
            background-color: $color-header-bg;
            padding: 12px 22px;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            font-size: 18px;
            font-weight: 500;
            color: $color-main;
            &:hover{
                scale: 1.02;
                background-color: $color-navbar-bg-hover;
            }
            &:active{
                scale: 0.98;
            }
            @media (max-width: 400px) {
                font-size: 16px;
                padding: 10px 36px;

            }
    }
}