.slider {

		&__wrapper {
            width: 90%;
			margin: auto;
            // overflow: hidden;
			border: 5px solid rgb(62, 82, 237);
		}
        
		&__slide {
            display: flex;
            width: 100%;
            height: 500px;
			transition: transform 0.4s ease-in-out;
		}
		
		&__image {
			object-fit: cover;
			width: 100%;
			height: 100%;

		}

		&__button {
		}
}
