.slider {
	
	position: relative;
	z-index: 1;
	background-color: $color-bg-2;

		&__container {
			position: relative;
			padding-top: 14px;
			padding-bottom: 34px;

		}
		&__title {
			font-size: 24px;
			font-weight: 600;
			padding: 16px 0 20px 0;
			text-align: center;

			@media (max-width: 400px) {
				font-size: 20px;
			}
		}

		&__wrapper {
			position: relative;
            width: 90%;
			margin: auto;
            overflow: hidden;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

		}
        
		&__track {
			touch-action: pan-x;
            display: flex;
            width: 100%;
            height: 500px;
			// transition: transform 0.4s ease-in-out;
		}
		
		&__slide {
			min-width: 100%;
			height: 100%;
			transition: transform 0.5s ease-in-out;
		}
		
		&__image {
			object-fit: cover;
			width: 100%;
			height: 100%;

		}

		&__button {
			position: absolute;
			top: 50%;
			background-color: transparent;
			color: #ffffff;
			padding: 10px 15px;
			cursor: pointer;
			z-index: 10; // щоб не перекривалося картинками
			font-size: 32px;
			width: 50px;
			height: 50px;
			cursor: pointer;
			touch-action: manipulation;
			&.prew {
				left: 10%;
				transform: rotate(180deg);
			}
			&.next {
				right: 10%;
			}
			@media (max-width: 600px) {
				font-size: 24px;

				&.prew {
					left: 8%;
				}
				&.next {
					right: 8%;
				}
			}
		}
}