
//- tabs section styles
.tabs {

		&__container {
			background-color: $color-bg-2;
			padding: 0;
		}
}
.item-tabs {
	display: flex;
	justify-content: space-around;
	background-color: $color-header-bg;
		&__title {
			font-size: 20px;
			font-weight: 600;
			padding-block: 16px;
			flex: 1 1 33.333%;
			text-align: center;
			cursor: pointer;
			&:hover{
				background-color: #e2d89a;
			}
			&.active{
				background-color: $color-bg-2;
			}
		}
}
.tabs-content {

		&__body {
			padding: 20px 15px;
			display: none;
			&.active{
				display: block;
			}
			@media(min-width: 768px){
				padding: 12px 20px;
			}
		}

		&__title {
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 8px;
		}

		&__text {
		}
}
