$color-bg: #f7face85;
$color-main: #593619;
$color-hover: #5936199e;
$color-accent: #73a613;
$color-header-bg: #f1e79a;
$color-navbar-bg: rgb(209, 177, 111);
$color-bg-2: #f8f4b6;

//- temlate styles
section{
    margin-block: 28px;
}