@import 'nullstyle';

body{
    background-color: #f7face85;
	color: #593619;
font-family: 'Nata Sans', sans-serif;
	&.no-scroll {
	overflow: hidden;
	}
}

[class*= 'container'] {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1200.98px) {
    [class*= 'container'] {
        max-width: 790px;
    }    
}

@media (max-width: 990.98px) {
    [class*= 'container'] {
        max-width: 750.98px;
    }    
}
@media (max-width: 767.98px) {
    [class*= 'container'] {
        max-width: none;
        padding: 0 15px;
    }    
}

.header {

	background-color: rgba(243, 232, 151, 0.81);
	&__container{
		display: flex;
		justify-content: space-between;
		padding-block: 28px;
		align-items: center;
		@media (max-width: 600px) {
			padding-block: 14px;
		}
	}

		&__title {
			font-size: 32px;
			font-weight: 500;
			& a{
				color: #593619;
			}
			@media (max-width: 600px) {
				width: 1ch;
				overflow: hidden;
				font-size: 52px;
				font-weight: 700;
			}
			
		}

		&__navbar {
		}
}
.navbar {
	position: relative;
	&__burger{
		position: absolute;
		top: -12px;
		right: 0;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		width: 40px;
		height: 30px;
		cursor: pointer;
		z-index: 2;
		@media (max-width: 600px) {
			display: flex;
		}
		&.active .navbar__bar:nth-child(1){
			transform: rotate(45deg) translate(8px, 8px);
		}
		&.active .navbar__bar:nth-child(2){
			opacity: 0;
		}
		&.active .navbar__bar:nth-child(3){
			transform: rotate(-45deg) translate(9px, -10px);
		}
	}
	&__bar{
		height: 4px;
		width: 100%;
		background-color: #593619;
		border-radius: 2px;

	}

	
		&__items {
			display: flex;
			column-gap: 40px;
			transition: all 0.5s ease-in-out;
			@media (max-width: 900px) {
				column-gap: 32px;
			}
			@media (max-width: 600px) {
				position: fixed;
				top: 0;
				right: 0;
    			transform: translateX(100%);
				height: 100vh;
				width: 75%;
				background-color: rgb(209, 177, 111);
				flex-direction: column;
				gap: 32px;
				padding-top: 110px;
				padding-left: 14px;
				box-shadow: -4px 0px 8px 0px #0000001a;
				&.active{
					transform: translateX(0);
				}
			}
		}

		&__item {
		}

		&__link {
		color:#593619;
		font-size: 18px;
		font-weight: 600;
		@media (max-width: 600px) {
			font-size: 28px;
		}
		&:hover{
			color: #5936199e;
		}
		&:active{
			scale: 0.98;
			color: #73a613;
		}

		}
}
.main {

		&__container {
			padding-block: 24px;
			display: flex;
			flex-direction: column;
			gap: 14px;
		}

		&__title {
			font-size: 20px;
			font-weight: 500;
		}

		&__text {
		}
}
